<!-- Basic -->
<!-- <h1>Welcome to Angular!</h1>
<app-hello></app-hello>
<h1>Cha gọi con</h1>
<app-child [name]="parentName"></app-child>
<h1>Cha nhận dữ liệu từ con</h1>
<app-child (messageEvent)="receiveMessage($event)"></app-child>
<p>{{ message }}</p>
<app-sender></app-sender>
<app-receiver></app-receiver>
<h1>Angular Routing Demo</h1>

<nav>
    <a routerLink="/" routerLinkActive="active">Trang Chủ</a> |
    <a routerLink="/about" routerLinkActive="active">Giới Thiệu</a> |
    <a routerLink="/contact" routerLinkActive="active">Liên Hệ</a>
</nav>

<router-outlet></router-outlet>

<h2>Đăng nhập</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label for="username">Tên đăng nhập:</label>
  <input id="username" formControlName="username">
  <div *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched">
    <small style="color: red">Tên đăng nhập không được để trống</small>
  </div>

  <label for="password">Mật khẩu:</label>
  <input id="password" type="password" formControlName="password">
  <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
    <small style="color: red">Mật khẩu ít nhất 6 ký tự</small>
  </div>

  <button type="submit" [disabled]="loginForm.invalid">Đăng nhập</button>
</form>

<h2>Danh sách người dùng</h2>
<button (click)="getUsers()">Tải danh sách</button>

<ul>
  <li *ngFor="let user of users">
    {{ user.name }} - {{ user.email }}
  </li>
</ul> -->

<!--############################################################### NgRx -->
<!-- <h1>Counter NgRx</h1>
<p>Giá trị hiện tại: {{ count$ | async }}</p>

<button (click)="increment()">Tăng</button>
<button (click)="decrement()">Giảm</button>
<button (click)="reset()">Reset</button> -->

<!--############################################################### Service and DI -->
<app-my-component></app-my-component>
